html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.custom-btn {
    background-color: #38385E;
    color: #fff;
}

custom-item {
    background-color: #38385E;
    color: #fff;
}

container {
    color: #fff;
}

body {
    color: #38385E;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.small-image {
    width: 100px;
    height: auto;
    object-fit: cover;
}


.navbar {
    background-color: #fff; /* Dark background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #f2f2f2; /* Light text color for links */
    transition: color 0.3s; /* Smooth transition for hover effect */
}
.side-link {
    color: #fff !important; /* Light text color for links */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

    .navbar-nav .nav-link:hover {
        color: #E9E9FF; /* Green color on hover */
    }

.navbar-toggler {
    border-color: #fff; /* White border for the toggler */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-pills .nav-link.active {
    color: #fff!important;
    background-color: #38385E;
}


.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day-events {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.event-link {
    text-decoration: none;
    color: #007bff;
}

    .event-link:hover {
        text-decoration: underline;
    }
.footer {
    background-color: #38385E; /* Ensure the background color is consistent */
    color: #fff; /* Set the text color to white */
    padding: 10px 0; /* Optional: Add padding for better spacing */
    text-align: center; /* Optional: Center the text */
    position: static !important;
}

.screen{
    min-height: 90vh;
}
.page-link {
    background-color: #38385E !important;
    border: #fff !important;
    color: #fff !important;

}
    .page-link.active, .active > .page-link {

        color: #38385E !important;
        background-color: #fff !important;
        border: 2px solid #38385E !important;
    }

.year-column {
    width: 80px;
    text-align: center;
}
[data-bs-theme=light] {
    --bs-primary: #38385E !important;
    --bs-secondary: #6c757d;
}
.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #38385E !important;
    --bs-btn-border-color: #38385E !important;
    --bs-btn-hover-color: #38385E !important;
    --bs-btn-hover-bg: #fff !important;
    --bs-btn-hover-border-color: #fff !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #38385E;
    --bs-btn-disabled-border-color: #38385E;
}
.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day-events {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.event-link {
    text-decoration: none;
    color: #38385E;
}

    .event-link:hover {
        text-decoration: underline;
    }
.form-check-input:checked {
    background-color: #38385E !important;
    border-color: #38385E !important;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #38385E;
}